#home {
    background: #ffc107;
    color: white;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a {
    margin: 5px 15px;
}

@media screen and (min-width: 992px) {

    ::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: #f1ce62;
      border: 1px solid white;
    }
}